@tailwind base;
@tailwind components;
@tailwind utilities;

.aa {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.aa:hover {
  transition: all 1s ease;
  box-shadow: 0 8px 12px rgb(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.dd {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.dd:hover {
  transform: translateY(-4px);
  transition: all 0.5s ease;
  box-shadow: 0 8px 12px rgb(0, 0, 0, 0.2);
}
.Myportfolio-header {
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.Myportfolio-header:hover {
  transform: translateY(-20px);
}

.cc {
  height: 119vh;
  width: 100%;
  /* background-color: rgba(71, 61, 139, 0.512); */
  /* background-image: url(pexels-1.jpg); */
  background-size: 100% 100%;
  background-blend-mode: darken;


}

